
/* ____BUTTONS STYLES____ */
.button1 {
  text-align: center;
  padding: 10px 12px;
  width: clamp(215px, 3vw, 220px);
  height: clamp(40px, 3vw, 45px) ;
  box-sizing: border-box;
  font-size: clamp(12px, 3vw, 16px);
  color: #5C5C5C;
  border: 1px solid transparent;
  border-radius: 10px 0px 10px 10px !important;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(92, 92, 92, 0.5);
  transition: all 0.3s ease;
}

.fit-picture {
  margin-left: 10px;
  width: 15px;
  height: 15px;
  display: flex;
  align-content: center;
}

.btn-primary {
  border-radius: 10px 0px 10px 10px !important;
  --bs-btn-color: #fff;
  --bs-btn-bg: #C63E46 !important;
  --bs-btn-border-color: #C63E46 !important ;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #BF3941 !important;
  --bs-btn-hover-border-color: #BF3941 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #BF3941 !important;
  --bs-btn-active-border-color: #BF3941 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #BF3941 !important;
  --bs-btn-disabled-border-color: #BF3941 !important;
}

.button2 {
  text-align: center;
  padding: 10px 12px;
  width: clamp(215px, 3vw, 220px);
  height: clamp(40px, 3vw, 45px) ;
  box-sizing: border-box;
  font-size: clamp(12px, 3vw, 16px);
  background-color: #b73840;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 10px 0px 10px 10px;
  box-shadow: 0 0 5px rgba(92, 92, 92, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button1:hover{
  border-color: #b73840 !important;
  background-color: #FDFAF7 !important;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(92, 92, 92, 0.3);
}

.button2:hover{
  background-color: #a33138;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(92, 92, 92, 0.3);
}

.discover-button {
  display: inline-block;
  padding: 0.5rem 1.25rem;
  background-color: transparent;
  color: #141414;
  border: 1px solid #C63E46;
  border-radius: 20px 0px 20px 20px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.discover-button:hover {
  background-color: #C63E46;
  color: white;
  text-decoration: none;
}

.carousel-button {
  background-color: #fdfaf7df !important;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.carousel-button:hover {
  background-color: #C63E46 !important;
}

.carousel-button:hover .icon {
  color: white;
}

.icon {
  color: #1C1A14;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.letter-button {
  background-color: transparent;
  border: none;
  font-weight: 600;
  color: #343a40;
  transition: all 0.3s ease;
  border-radius: 10px 0px 10px 10px;
  padding: 8px 16px;
}

.letter-button:hover,
.letter-button.active {
  color: white;
  background-color: #C63E46;
}
