

/* ____CATEGORIES STYLES____ */
.categories-container {
  padding: 2rem 0;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

.category-card {
  background-color: white;
  border-radius: 25px 1px 25px 25px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.category-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  color: #141414;
}

.category-job-count {
  color: #666;
  margin-bottom: 1.25rem;
}

/* Styles des icônes de catégories */
.category-icon-wrapper {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.category-icon {
  color: #C63E46;
}

.category-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.category-icon-wrapper-large {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-icon-large {
  color: #C63E46;
}

