
/* Category Header Styles */
.category-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  background-color: white;
  border-radius: 25px 1px 25px 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-icon-wrapper-large {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: rgba(198, 62, 70, 0.1);
  border-radius: 50%;
  flex-shrink: 0;
}

.category-icon-large {
  color: #C63E46;
}

.title2 {
  color: #333;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.title2:after {
  content: '';
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #C63E46;
  bottom: 0;
  left: 0;
}

@media (max-width: 768px) {
  .category-header {
    flex-direction: column;
    text-align: center;
  }
  
  .title2:after {
    left: 50%;
    transform: translateX(-50%);
  }
}
