
/*____NAVBAR STYLES____ */
/* Styles for the navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Styles applied when the navbar is scrolled */
.navbar-scroll {
  background-color: white !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Modifies the color of the text in links when navbar is scrolled */
.navbar-scroll .nav-link {
  color: black !important;
}

/* Padding to compensate for fixed navbar */
.header-spacing {
  height: 80px;
}

@media (max-width: 991.98px) {
  .header-spacing {
    height: 60px;
  }
}

/* Navbar links */
.nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #C63E46;
  transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

/* Navbar buttons */
.navbar-button {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.navbar-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
