
/*____NAVBAR STYLES____ */
/* Applique un margin-top de 100px uniquement lorsque l'utilisateur est sur la page Home */
.navbar-home {
  margin-top: 0;
}

/* Styles appliqués lorsque la navbar est scrollée */
.navbar-scroll {
  background-color: white !important;
  box-shadow: 0 4px 2px -2px gray;
}

/* Modifie la couleur du texte des liens dans la navbar lorsqu'elle est scrollée */
.navbar-scroll .nav-link {
  color: black !important;
}

/* Ajout de marge pour compenser la navbar fixe */
.header-spacing {
  height: 80px;
}

@media (max-width: 991.98px) {
  .header-spacing {
    height: 60px;
  }
}
