
/*____DEBUT NAVBAR____ */
/* Applique un margin-top de 100px uniquement lorsque l'utilisateur est sur la page Home */
.navbar-home {
  margin-top: 61px;
}

/* Styles appliqués lorsque la navbar est scrollée */
.navbar-scroll {
  background-color: white !important;
  box-shadow: 0 4px 2px -2px gray;
}

/* Modifie la couleur du texte des liens dans la navbar lorsqu'elle est scrollée */
.navbar-scroll .nav-link {
  color: black !important;
}
/*____FIN NAVBAR____ */

/*  Traits rouge  */
.redLineStyle {
  border: none;
  border-top: 2px solid #C63E46;
  width: 100px;
  position: relative;
  right: 17px;
  top: -10px;
  opacity: 1;
}

.redLineContainer {
  border-top: 2px solid #C63E46;
  width: 100%;
  opacity: 1;
}

/* FILTRES PRODUCT */
ortByPrice {
  border-top: 1px solid #C63E46 !important;
}

.form-filter {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 5px 0 5px 5px;
  border: none;
  padding: 5px;
  outline: none;
}

.form-filter:focus,
.form-filter:hover {
  border: 1px solid #C63E46;
}

/* CAROUSSEL */
.carousel-wrapper {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 10px 0;
}

.carousel-content {
  display: flex;
  white-space: nowrap;
  transition: transform 0.1s linear;
  flex-grow: 1;
  scroll-behavior: smooth;
  padding: 10px 5px;
}

.carousel-group {
  display: flex;
  padding: 5px;
}

.job-card {
  width: 220px;
  height: 220px;
  display: inline-block;
  border-radius: 20px 0 20px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 0 8px;
}

.job-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.cardCarousel {
  display: inline-block;
  width: 300px;
  border-radius: 15px 0px 15px 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardCarousel:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.job-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 15px 0px 0px 0px;
}

.cardCarousel .card-body {
  padding: 15px;
}

.cardCarousel a {
  color: #141414;
  text-decoration: none;
  padding: 5px;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.cardCarousel a:hover {
  color: #C63E46;
  font-weight: bold;
}

.cardCarousel .card-link-city {
  color: white !important;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  padding: 8px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px 0 10px 10px;
  transition: all 0.3s ease;
}

.cardCarousel .card-link-city:hover {
  color: #C63E46 !important;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7);
}

.card-link:hover {
  color: #C63E46 !important;
  font-weight: bold;
}

.card-link {
  color: #C63E46 !important;
  text-decoration: none;
}

.carousel-button {
  background-color: #FDFAF7 !important;
  color: #1C1A14;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.carousel-button:hover {
  background-color: #C63E46 !important;
  color: white;
}

.carousel-button.prev {
  position: absolute;
  left: 10px;
}

.carousel-button.next {
  position: absolute;
  right: 10px;
}

.carousel-button .icon {
  font-size: 20px;
}

/* FILTRES PRODUCT */
.custom-select {
  border-radius: 5px 0 0 0; /* Radius spécifique */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ajouter une ombre */
  transition: border 0.3s ease; /* Transition pour les changements de bordure */
  --bs-pagination-focus-box-shadow: transparent !important;
}

.custom-select:focus {
  box-shadow: 0 0 0 0.25rem rgba(197, 62, 70, 0.25); /* Ombre de focus */
  border: 1px solid #C63E46 !important; /* Bordure au focus */
}

.custom-select:hover,
.custom-select:active {
  border: 1px solid #C63E46 !important; /* Bordure au survol et activation */
}

.Form.Control {
  border-radius: 5px 0 0 0; /* Radius spécifique */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important; /* Ajouter une ombre */
  transition: border 0.3s ease; /* Transition pour les changements de bordure */
}

/* PAGINATION*/
.pagination .page-item .page-link {
  color: #C63E46;
}

.pagination .page-item.active .page-link {
  font-weight: bold;
  background-color: transparent !important;
  border-color: #C63E46;
  z-index: 1 !important;
}

.pagination {  
  --bs-pagination-focus-box-shadow: transparent !important;
}

/* ____DEBUT IMAGEHEADER____ */
.card-bg-image{
  width: clamp(90%, 3vw, 80%);
}

.card-title{
  font-size: clamp(18px, 3vw, 44px);
}
/* ____FIN IMAGEHEADER____ */

/* ____DEBUT DOMAINES D'INTERVENTION____ */ 
.domaines-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: clamp(14px, 3vw, 16px);    
}
    
.domaine-card {
  display: flex;
  align-items: center;
  flex-direction: column;
}
    
.domaine-image{
  width: clamp(30px, 3vw, 50px);  
  height: auto;
}
/* ____FIN DOMAINES D'INTERVENTION____ */

/* COMPOSANT ARGUMENT */
.titre span{
  color:#b73840;
}

.argument-image{
  width: clamp(50px, 3vw, 70px);  
  height: auto;
}

.argument-title{
  width: clamp(14px, 3vw, 18px);  
}

/* LISTE DE METIERS PAR LETTRE */
.letter-button {
  background-color: transparent;
  border: none;
  font-weight: 600;
  color: #343a40;
  transition: all 0.3s ease;
  border-radius: 10px 0px 10px 10px;
  padding: 8px 16px;
}

.letter-button:hover,
.letter-button.active {
  color: white;
  background-color: #C63E46;
}

/* POPUP MESSAGE */
/* CSS personnalisé pour les éléments input et textarea */
.custom-form-control {
  border-radius: 5px 1px 5px 5px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
  transition: box-shadow 0.3s ease, border-color 0.3s ease !important;
}

.custom-form-control:focus {
  border: 1px solid #C63E46 !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2) !important; /* Légère intensification de l'ombre lors du focus */
}

/* Hover Effects */
.hover-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1) !important;
}
